$textColor: #242424;
$accentColor: #1890FF;
$neutralGreyColor: #E7E7E7;
$dangerColor: #FF4D4F;
$captionColor:  rgba(66, 66, 66, 0.45);
$goldenPurpleColorLight: #F9F0FF;
$goldenPurpleColor: #D3ADF7;
$goldenPurpleColorDark: #722ED1;